# I have taken these questions from github repo for practice pandas from
#### https://github.com/guipsamora/pandas_exercises

#### Step 1. Import the necessary libraries

In [4]:
import pandas as pd
import numpy as np

#### Step 2. Import the dataset from this address. 
#### https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv
#### Step 3. Assign it to a variable called chipo.

In [8]:
chipo = pd.read_csv(r'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

In [9]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

#### Step 4. See the first 10 entries

In [10]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

#### Step 5. What is the number of observations in the dataset?

In [11]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

#### Step 6. What is the number of columns in the dataset?

In [18]:
chipo.shape[1]

5

#### Step 7. Print the name of all the columns.

In [19]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

#### Step 8. How is the dataset indexed?

In [20]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

#### Step 9. Which was the most-ordered item?

In [24]:
chipo[chipo['quantity'] == chipo['quantity'].max()]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25

In [25]:
chipo[chipo['quantity'] == chipo['quantity'].max()]['item_name']

3598    Chips and Fresh Tomato Salsa
Name: item_name, dtype: object

#### Step 10. For the most-ordered item, how many items were ordered?

In [26]:
chipo[chipo['quantity'] == chipo['quantity'].max()]['quantity']

3598    15
Name: quantity, dtype: int64

#### Step 11. What was the most ordered item in the choice_description column?

In [28]:
chipo['choice_description'].max()

TypeError: '>=' not supported between instances of 'float' and 'str'

#### Step 12. How many items were orderd in total?

In [38]:
chipo['quantity'].sum(axis=0)

np.int64(4972)

#### Step 13. Turn the item price into a float

In [45]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [ ]:
chipo['item_price'] = chipo['item_price'].astype()

#### Step 13.a. Check the item price type

In [48]:
chipo.head(1)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39

In [50]:
def extract_num(txt):
    for i in txt:
        if i == ('$'):
            i += txt
    return txt

In [52]:
chipo['item_price'] == chipo['item_price'].apply(extract_num)

0       True
1       True
2       True
3       True
4       True
        ...
4617    True
4618    True
4619    True
4620    True
4621    True
Name: item_price, Length: 4622, dtype: bool