# Pandas basic

## creating series in pandas (Note use capital S in Series)

In [19]:
# A series is a one dimensional labeled array capable of holding any data type. the axis labeld are collectively called the index.

In [12]:
import pandas as pd
import numpy as np

In [25]:
#  creating panda series using array
a = np.array([1,2,3,4,5])
series1 = pd.Series(a)
series1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [27]:
# creating index in the series using (index = labels/variable name)
labels = ['a','b','c','d','e']
series2 = pd.Series(a,index=labels)
series2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [17]:
# creating panda series as list
l1 = ['a','b','c','d']
series = pd.Series(l1)
series

0    a
1    b
2    c
3    d
dtype: object

In [18]:
# creating panda series using dictinory
dict = {
    'name':'Aditya',
    'Age':22,
    'country':'india'}

series3 = pd.Series(dict)
series3

name       Aditya
Age            22
country     india
dtype: object