#  Group By Aggeration

In [14]:
import numpy as np
import pandas as pd

In [15]:
#  this dicionary is been taken from  Akarsh Vyas github repo
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Store': ['S1', 'S1', 'S2', 'S2', 'S1', 'S2', 'S2', 'S1'],
    'Sales': [100, 200, 150, 250, 120, 180, 200, 300],
    'Quantity': [10, 15, 12, 18, 8, 20, 15, 25],
    'Date': pd.date_range('2023-01-01', periods=8)
}

df = pd.DataFrame(data)

In [16]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    180        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

``` group by category like A and B saperately and get sum from them ```

In [17]:
cat = df.groupby('Category') #this only create object for viewing data we have to use for loop
cat
for i, v in cat:
    print(i)
    print(v)

A
  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
2        A    S2    150        12 2023-01-03
4        A    S1    120         8 2023-01-05
6        A    S2    200        15 2023-01-07
B
  Category Store  Sales  Quantity       Date
1        B    S1    200        15 2023-01-02
3        B    S2    250        18 2023-01-04
5        B    S2    180        20 2023-01-06
7        B    S1    300        25 2023-01-08

In [ ]:
cat = df.groupby('Category')['Sales'].sum()
cat

In [19]:
cat = df.groupby('Store')['Sales'].sum()
cat

Store
S1    720
S2    780
Name: Sales, dtype: int64

In [21]:
# grouping multiple columns
# grouping category and store
cat = df.groupby(['Category','Store'])['Sales'].sum()
cat

Category  Store
A         S1       220
          S2       350
B         S1       500
          S2       430
Name: Sales, dtype: int64

# Aggeration

```mean, median mode min max count std ```

In [23]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    180        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

In [24]:
df['Sales'].mean()

np.float64(187.5)

In [27]:
df['Quantity'].mean()

np.float64(15.375)

In [28]:
df['Sales'].max()

300

In [30]:
df['Sales'].mode()

0    200
Name: Sales, dtype: int64

In [32]:
df['Sales'].agg(['sum','mean','median','max','min','std'])

sum       1500.000000
mean       187.500000
median     190.000000
max        300.000000
min        100.000000
std         66.062741
Name: Sales, dtype: float64

# Byyyyyy üëãüèªüëãüèªüëãüèªüëãüèªüëãüèªüëãüèªüëãüèªüëãüèªüëãüèª See you soon